extends layout

block content
  header Chrysalis 
  div.landing Welcome to the new budget app. Everyone knows they need a budget, but sticking to that budget is a different story. Chrysalis makes sticking to your budget as easy as possible. 




